.integration-section {
  text-align: center;
  padding: 4rem 1rem;
  background-color: rgb(242, 244, 245);
  margin-top: -3rem;
 

  .headline {
    font-size: 2.2rem;
    font-weight: 700;
    color: #1a1a1a;
    margin-bottom: 2.5rem;
  
  }

  .arc-container {
    position: relative;
    width: 700%;
    height: 300px;
    margin-left: -500px;
    max-width: 1500px;
    overflow: hidden;
    background-color: transparent;
  }

  .icon-track {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    pointer-events: none;

    .icon-card {
      width: 150px;
      height: 90px;
      background:#e5e4e4; 
      border-radius: 16px;
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      cursor: pointer;
      pointer-events: auto;
      border: 1px solid rgba(255, 255, 255, 0.3);

      img {
        width: 60%;
        height: auto;
        object-fit: contain;
        opacity: 1;
      }

      &:hover {
        transform: scale(1.1);
        z-index: 10;
      }
    }
  }

  .integration-desc {
    margin-top: 2rem;
    color: #0a0000;

    h5 {
      font-size: 1.4rem;
      font-weight: 600;
    }

    p {
      font-size: 1.1rem;
      color: #0a0000;
    }
  }
}
